{% extends "layout.html" %}

{% set active_page = "home"%}

{% block title %}Home{% endblock %}
  
{% block content %}
  <h1>Welcome</h1>
<p>This data is from the Corgi Data set right <a href= https://think.cs.vt.edu/corgis/json/election/>here, </a>and contains information about the 2016 primary presidential elections. Information is provided through State, County, and County Abbreviation. It also includes Percent of Votes, Number of Votes, and Party under each individual candidate, and it also provides this information for No Preference and Uncommitted votes. No Preference voters means that they are not registered under a specific party, but are registered to vote. Uncommitted voters are those that are registered under a specific party, but do not have a certain candidate they are voting for.</p>
{% endblock %}
