{% extends "layout.html" %}

{% set active_page = "home"%}

{% block title %}Home{% endblock %}
  
{% block content %}
  <h1>Welcome</h1>
<p>This data is from the Corgi Data set right <a href= https://think.cs.vt.edu/corgis/json/election/>here, </a>and contains information about the 2016 presidential elections. Information is provided through State, County, and County Abbreviation. It also includes Percent of Votes, Number of Votes, and Party under each individual candidate, as well as no preference and uncommitted. </p>
{% endblock %}
